* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 70px;
}

/*button styles */

.button {
    width: auto;
    min-height: 50px;
    background: rgba(20, 20, 20, 0.93);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 15px 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 0 #000000 solid;
    border-right: 0 #000000 solid;
    transition: 0.3s;
}

.button__icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #141414;
    border-radius: 5px 0 0 5px;
    margin-right: 15px;
}

.button__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button__hand {
    width: 25px;
    height: 10px;
    display: block;
    background: url("./images/button/hand.svg") center no-repeat;
    background-size: contain;
}

.button__heart {
    height: 10px;
    width: 10px;
    display: block;
    background: url("./images/button/heart.svg") center no-repeat;
    background-size: contain;
    align-self: flex-end;
    position: relative;
    left: -4px;
    bottom: -2px;
    animation: pulse 1.3s infinite ease-in-out;
}

@keyframes pulse {
    0%{
        filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0));
    }
    35%{
        filter: drop-shadow(0 0 3px #f8b8b8);
    }
    100%{
        filter: drop-shadow(0 0 0 #ffffff);
    }
}

.button:hover {
    transition: 0.3s;
    border-bottom: 5px #0f0f0f solid;
    border-right: 5px #000000 solid;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25);
}

.button:active {
    transition: 0.3s;
    border-bottom: 0 #000000 solid;
    border-right: 0 #000000 solid;
}

.button__text {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.button__card-num {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__card-num:before {
    content: '';
    width: 18px;
    height: 15px;
    display: flex;
    margin-right: 5px;
    background: url("./images/button/tooltip/card.svg") no-repeat center;
    background-size: contain;
}

.tippy-box[data-theme~='theme'] {
    background-color: #ffffff;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 0 18px;
}

.tippy-box[data-theme~='theme'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #ffffff;
}
.tippy-box[data-theme~='theme'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #ffffff;
}
.tippy-box[data-theme~='theme'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #ffffff;
}
.tippy-box[data-theme~='theme'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #ffffff;
}

/*popup styles*/

.popup {
    min-height: 70%;
    width: 60%;
    padding: 30px;
    position: fixed;
    top: 5%;
    left: 20%;
    background: #FFFFFF;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    overflow: auto;
}

@keyframes open {
    0% {
        transform: scale3d(0%, 0%, 100%);
    }
    85% {
        transform: scale3d(110%, 110%, 100%);
    }
    100% {
        transform: scale3d(100%, 100%, 100%);
    }
}

.popup__mask {
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    align-self: center;
}

.popup__close-btn {
    height: 30px;
    width: 30px;
    align-self: flex-end;
    border: none;
    outline: none;
    background: transparent url("./images/popup/close.svg") no-repeat center;
    background-size: 30px;
    cursor: pointer;
    flex-shrink: 0;
}

.popup__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.popup__image {
    width: calc(200px + 4vw);
    height: calc(200px + 4vw);
    max-width: 350px;
    max-height: 350px;
    display: block;
    background: #eeeeee url("https://files.fm/thumb_show.php?i=h9ffv95hp") no-repeat center;
    background-size: contain;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
}

.popup__info {
    height: 100%;
    width: calc(100% - ((200px + 4vw) + 30px));
    margin-left: 30px;
}

.popup__headline {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #141414;
}

.popup__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #141414;
    margin: 15px 0;
}

.popup__icons {
    display: flex;
}

.popup__icon {
    width: 60px;
    height: 60px;
    background-color: #c0c0c0;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    transition: margin-top 0.3s;
}

.popup__icon:hover {
    margin-top: -5px;
}

.popup__icon:last-child {
    margin-right: 0;
}
.popup__icon_1 {
    background: url("./images/popup/payment/image 6.png") no-repeat center;
    background-size: cover;
}
.popup__icon_2 {
    background: url("./images/popup/payment/image 7.png") no-repeat center;
    background-size: cover;
}
.popup__icon_3 {
    background: url("./images/popup/payment/image 8.png") no-repeat center;
    background-size: cover;
}
.popup__icon_4 {
    background: url("./images/popup/payment/image 9.png") no-repeat center;
    background-size: cover;
}

.popup__icon_5 {
    background: url("./images/popup/payment/image 10.png") no-repeat center;
    background-size: cover;
}

.popup__ok-btn {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 17px 65px;
    background: rgba(20, 20, 20, 0.93);
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.popup__ok-btn:hover {
    background-color: rgb(20, 20, 20);
}

.alert {
    width: 80%;
    min-height: 100px;
    position: fixed;
    top: 10%;
    left: 10%;
    border-radius: 15px;
    color: #141414;
    background: #ffffff;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
    z-index: 15;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1547px){
    .popup {
        width: 935px;
        left: calc(50% - (935px / 2));
    }
}

@media screen and (max-width: 1200px) {
    .popup {
        width: calc(100% - 30px);
        left: 15px;
        padding: 20px;
    }
    .popup__text {
        margin: 20px 0;
    }

    .popup__icon {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 700px) {
    .popup {
        height: calc(100vh - 60px);
        top: 30px;
    }
    .popup__row {
        flex-direction: column;
    }
    .popup__image {
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
        align-self: flex-start;
        background-position-x: 0;
    }
    .popup__text {
        margin: 15px 0;
    }
    .popup__info {
        width: 100%;
        margin-left: 0;
    }
    .popup__headline {
        font-size: 26px;
    }
}

@media screen and (max-width: 440px) {
    .wrap {
        padding: 30px 15px;
    }

    .popup__text {
        font-size: 14px;
    }

    .popup__info {
        height: auto;
    }
}

@media screen and (max-height: 820px) and (max-width: 700px) {
    .popup__image {
        height: 100px;
        width: 100px;
    }

    .popup__row {
        margin: 15px 0;
    }

    .popup__image {
        margin-bottom: 15px;
    }

    .popup__headline {
        font-size: 26px;
    }

    .popup__ok-btn {
        font-size: 14px;
        padding: 10px 40px;
    }

    .popup__icon {
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-height: 512px){
    .popup__row {
        margin: 15px 0;
    }

    .popup__image {
        margin-bottom: 15px;
    }

    .popup__headline {
        font-size: 26px;
    }

    .popup__ok-btn {
        font-size: 14px;
        padding: 10px 40px;
    }

    .popup__icon {
        height: 40px;
        width: 40px;
    }
}